<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>createdAt</key>
		<string>8:23</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>profileImageUrl</key>
		<string>1.png</string>
		<key>source</key>
		<string>iPhone 5s</string>
		<key>text</key>
		<string>距离iphone 6 发布还有不到一个月。</string>
		<key>userName</key>
		<string>小冰</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>createdAt</key>
		<string>8:23</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>profileImageUrl</key>
		<string>1.png</string>
		<key>source</key>
		<string>iPhone 5s</string>
		<key>text</key>
		<string>距离iphone 6 发布还有不到二个月。</string>
		<key>userName</key>
		<string>小冰</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>createdAt</key>
		<string>8:23</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>profileImageUrl</key>
		<string>1.png</string>
		<key>source</key>
		<string>iPhone 5s</string>
		<key>text</key>
		<string>距离iphone 6 发布还有不到三个月。</string>
		<key>userName</key>
		<string>小冰</string>
	</dict>

	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>createdAt</key>
		<string>8:23</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>profileImageUrl</key>
		<string>1.png</string>
		<key>source</key>
		<string>iPhone 5s</string>
		<key>text</key>
		<string>距离iphone 6 发布还有不到4个月。</string>
		<key>userName</key>
		<string>小冰</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>createdAt</key>
		<string>8:23</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>profileImageUrl</key>
		<string>1.png</string>
		<key>source</key>
		<string>iPhone 5s</string>
		<key>text</key>
		<string>距离iphone 6 发布还有不到5个月。</string>
		<key>userName</key>
		<string>小冰</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>createdAt</key>
		<string>8:23</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>profileImageUrl</key>
		<string>1.png</string>
		<key>source</key>
		<string>iPhone 5s</string>
		<key>text</key>
		<string>距离iphone 6 发布还有不到6个月。</string>
		<key>userName</key>
		<string>小冰</string>
	</dict>
</array>
</plist>
